
#about{
	width: 100%;
	margin: 0 auto;
}

#side {
 	width: 100%;
}

#paragraph {
	max-width: 800px;
	padding-left: 12%;
	padding-right: 5%;
	margin: 0 auto;
}



.paragraph2 {
    float: left;
    width: 250px;
    height: 100px;
    padding-left: 2%;
    box-sizing: border-box;
    display: inline-block;
	
}	