/*light blue #00ffff
dark blue #000066
*/

/*heading font: font-family: 'Lobster', cursive;*/
/*text font: font-family: 'Open Sans Condensed', sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.topImage {
	background-image: url("image/line_of_cupcakes.jpg");
	width:100%;
	height:300px;
}

.container {
	width:100%;
	height:350px;
}

.column {
	display: inline-block;
	width:20%;
	height:300px;
	padding:1%;
	margin-left:5%;
	margin-right:5%;
}

.column img {
	width:80%;
	margin:0 auto;
	margin-top:20px;
	border-radius: 20px;
}

p {
	font-size: 25px;
	margin:0 auto;
}