/*light blue #00ffff
dark blue #000066
*/

/*heading font: font-family: 'Lobster', cursive;*/
/*text font: font-family: 'Open Sans Condensed', sans-serif; */

@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.topImage img{
	width:100%;
}

.container {
	width:100%;
	margin:25px;
}

.column {
	display: inline-block;
	width:33%;
}

.column img {
	width:50%;
	position:relative;
	left:25%;	
	margin-top:20px;
	border-radius: 50px;
	display: inline-block;
}

p {
	font-size: 17px;
	text-align: center;
}

h3{
	text-align: center;
}

@media all and (max-width: 795px){
	.column{
		width:100%;
	}
	.column img {
		width:50%;
	}
	.column p {
		text-align: center;
		margin-top:15px;
		margin-bottom: 30px
	}
	.topimage{
		width:100%;
	}
};



